@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a Machine license</h2>

<h4>Add a Machine that @Html.DisplayFor(model => model.Name) has been trained to operate:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  {
    int cnt = 0;

    <p>Machines Availible:</p>
    foreach (var machine in ViewBag.Machines)
    {
      if (cnt++ % 3 == 0)
      {
        @:</tr><tr>
      }
      @:<td>
        <input type="checkbox"
            name="machines"
            value="@machine.MachineId"
            @(Html.Raw(machine.Owned ? "checked=\"checked\"" : "")) />
            @machine.Name
      @:</td>
    }
    @:</tr>
  }
  <input type="submit" value="Save" />
}
<button onclick="window.history.back()"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Back</button>