@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Edit Record for:</h2>

<h4>Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @* {
    int cnt = 0;

    <p>Availible Styles:</p>
    foreach (var style in ViewBag.Styles)
    {
      if (cnt++ % 3 == 0)
      {
        @:</tr><tr>
      }
      @:<td>
        <input type="checkbox"
            name="styles"
            value="@style.StyleId"
            @(Html.Raw(style.Owned ? "checked=\"checked\"" : "")) />
            @style.Name
      @:</td>
    }
    @:</tr>
  } *@
  <button type="submit"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Save Changes</button>
}
<button onclick="window.history.back()"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Back</button>